.work {
  &-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-steps {
    &__title {
      color: #c11e43;
      font: 400 19px/27px "Jost", sans-serif;
      text-transform: uppercase;
    }

    &__text {
      color: #1f262c;
      font: 400 20px/29px "Montserrat", sans-serif;
    }

    &__button {
      width: 98px;
      height: 5px;
      background-color: rgba(193, 30, 67, 0.25);
      border-radius: 14px;
      border: none;
      margin: 0 2px;

      &--active,
      &:hover {
        cursor: pointer;
        background-color: #c11e43;
      }
    }
  }
}
