.work {
  &-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 867px) {
      flex-direction: column-reverse;
    }

    &__left {
      @media (max-width: 849px) {
        text-align: center;
      }
    }

    &__image {
      @media (max-width: 867px) {
        width: 313px;
      }
      @media (max-width: 550px) {
        height: 50vh;
        width: auto;
        margin-bottom: 20px;
      }
    }
  }

  &-steps {
    &__title {
      color: #c11e43;
      font: 400 19px/27px "Jost", sans-serif;
      text-transform: uppercase;
    }

    &__text {
      max-width: 555px;
      height: 99px;
      display: flex;
      align-items: center;
      justify-content: center;
      font: 400 20px/29px "Montserrat", sans-serif;
      box-sizing: border-box;
      color: #1f262c;
      
      @media (max-width: 695px) {
        height: 82px;
      }
      @media (max-width: 550px) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &__button {
      width: 85px;
      height: 5px;
      background-color: rgba(193, 30, 67, 0.25);
      border-radius: 14px;
      border: none;
      margin: 0 2px;

      &--active,
      &:hover {
        cursor: pointer;
        background-color: #c11e43;
      }
    }
  }
}

.m_mobile .view {
  min-height: 110vh;
  height: auto;
}
