.view {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
  }
  &__title {
    text-align: center;
    font-size: 39px;
    line-height: 47px;
    font-weight: normal;
    margin-bottom: 30px;
    color: #000;
    @media screen and (max-width: 798px) {
      font-size: 20px;
      line-height: 1.1;
    }
  }
  &_compare {
    width: 66%;
    border-radius: 9px;
    overflow: hidden;
    max-width: 400px;
  }
}

.withfooter {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.compare {
  height: 70vh;
  background: #fff;
}
.footer {
  height: 30vh;
  background: #293152;
}

.button {
  padding: 13px 29px;
  margin-top: 13px;
}
