.main-title {
  font: 700 53px/60px "Jost", sans-serif;
  max-width: 704px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.markets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
}

.first .download {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-evenly;
}

.mockup {
  max-width: 500px;
}
.view.first {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  .wrapper {
    height: calc(100vh - 100px);
  }
}
