.view {
  display: flex;
  align-items: center;
  justify-content: center;

  &__description {
    margin-top: 41px;
    font-size: 27px;
    line-height: 32px;
    @media screen and (max-width: 798px) {
      font-size: 16px;
      line-height: unset;
      margin-top: 8px;
    }
  }
}

.pictureframe {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  transform: translateZ(60px);
  &:hover {
    .test {
      transform: scale(2);
      transition: all 0.3s;
    }
    .blink {
      animation: blink infinite 1s;
    }
  }
}

.parallax_effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 600px;
  background: url("./assets/phone.png") no-repeat center;
  background-size: contain;
  color: white;

  transform-style: preserve-3d;
  @media screen and (max-width: 798px) {
    height: 84%;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 630px;
  @media screen and (max-width: 798px) {
    flex-direction: column;
    height: 100vh;
  }
}
.side {
  height: 100%;
  justify-content: center;
  @media screen and (max-width: 798px) {
    height: auto;
  }
}
.right {
  @media screen and (max-width: 798px) {
    height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.left {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 798px) {
    max-width: 60%;
    flex-grow: 1;
  }
  &_circle {
    display: flex;
    align-items: center;

    font-size: 46px;
    line-height: 55px;
    @media screen and (max-width: 798px) {
      font-size: 25px;
      line-height: unset;
    }
  }
}

@keyframes blink {
  to {
    transform: scale(1.5);
  }
}
