.navigator {
  position: absolute;
  bottom: 32px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all linear 0.3s;
  @media screen and (max-width: 798px) {
    bottom: 11px;
    right: 6px;
  }
  &-item {
    height: 16px;
    width: 16px;
    mix-blend-mode: multiply;
    border-radius: 50%;
    background: transparent;
    border: 3px solid #c11e43;
    margin: 6px auto;
    position: relative;
    transition: all linear 0.3s;
    font-size: 14px;
    @media screen and (max-width: 798px) {
      font-size: 12px;
      height: 12px;
      width: 12px;
    }
    &::before {
      position: absolute;
      content: attr(data-title);
      top: 50%;
      transform: translate(-100%, -60%);
      color: #c11e43;
      font-weight: bold;
      left: -50%;
      white-space: nowrap;
      opacity: 0;
      transition: all linear 0.3s;
    }
    &.active {
      width: 21px;
      height: 21px;
      margin: 9px auto;
      background: #c11e43;
      border: 1px solid #c11e43;
      font-size: 16px;
      transition-delay: 0;
      @media screen and (max-width: 798px) {
        font-size: 13px;
        height: 15px;
        width: 15px;
        margin: 11px 0;
      }
      &::before {
        text-decoration: underline;
        animation: showTitle 1 4s 0.3s linear;
      }
    }
    &:hover {
      cursor: pointer;
      width: 22px;
      height: 22px;
      margin: 9px auto;
      &::before {
        opacity: 1;
        transition: all linear 0.3s;
      }
    }
    &:active {
      transform: scale(1.2);
      transition-delay: 0.3s;
    }
  }
}

@keyframes showTitle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
