.view {
  &-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &-card {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-basis: 48%;
      margin-bottom: 112px;

      &__text {
        font-size: 25px;
        line-height: 30px;
      }

      &__icon {
        margin-bottom: 18px;
      }
    }
  }
}