.opportunities {
  background-color: #C11E43;

  &-container {
    background-color: #fff;
    box-shadow: 0px 38px 43px rgba(0, 0, 0, 0.07);
    border-radius: 41px;
    padding: 90px;
  }

  &-benefits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      display: flex;
      align-items: center;
      flex-basis: 48%;
    }

    &__text {
      font: 400 18px/26px 'Montserrat', sans-serif;
      max-width: 325px;
    }
    
  }
}